body {
    margin: 0;
    background-color: #73799f;

}
#info {
    margin-top: 30px;
    width: 50%;
    margin: auto;
    text-align: center;
    font-family: "Arial", Georgia, Serif;
    color: rgb(0, 0, 0);
    background-color: #73799f;
    border-radius: 10px;
}
.uravnenie {
    width: 60%;
    margin: auto;
    border-radius: 10px;
}
.ogranichenie {
    width: 60%;
    margin: auto;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

/* Firefox */

input[type="number"],
input[type="text"] {
    width: 80px;
    height: 40px;
    padding: 5px 5px;
    margin: 8px 0px;
    box-sizing: border-box;
}
input[type="number"]:focus,
input[type="text"]:focus {
    border: 3px solid #73799f;
}
input[type="button"],
input[type="submit"],
input[type="reset"] {
    width: 100%;
    background-color: #73799f;
    border: none;
    border-radius: 20px;
    color: rgb(255, 255, 255);
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}
select {
    margin-top: 5%;

}
a {
    color: silver;
    font-size: bold;
    text-decoration: none;
}
#result {
    width: 100%;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
}
.ogranichenie_add{
    width: 100px; 
    height: 50px; 
    
    
}

   
    

#center{
    width: 45%;
    display: flex;
    justify-content: center;
}
